__AUTOR:__ Miguel Thomas

__CURSO:__ Aprendizaje de Maquina

__FECHA:__ 31 de marzo de 2024

In [19]:
# Librerias
import numpy as np
import pandas as pd

from tabulate import tabulate # Para mostrar las tablas en un formato

# 1. Analisis de variables

In [20]:
path = "adult.data"

columnas = ['age','workclashh','fnlwgt:', 'education', 'education-num','marital-status','occupation','relationship','race',
            'sex','capital-again','capital-loss','hours-per-week','native-country','income'
            ]
dataset = pd.read_csv(path, header=None)



dataset.columns = columnas
dataset.head()

,age,workclashh,fnlwgt:,education,education-num,marital-status,occupation,relationship,race,sex,capital-again,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. Edad: La primera columna representa la edad de los individuos. Los valores son numéricos enteros.

2. Tipo de empleo: La segunda columna indica el tipo de empleador o el sector de empleo. Es una variable categórica que incluye categorías como "State-gov" (gobierno estatal), "Self-emp-not-inc" (autoempleado no incorporado), "Private" (privado), entre otras posibilidades.

3. Peso Final: La variable fnlwgt, o peso final, indica el número estimado de personas en la población total que cada entrada en el conjunto de datos representa

4. Nivel educativo: La cuarta columna muestra el nivel de educación más alto alcanzado por los individuos. Es una variable categórica que incluye categorías como "Bachelors" (licenciatura), "HS-grad" (graduado de secundaria), "11th" (onceavo grado), etc.

5. Años de educación: La quinta columna numérica representa la cantidad total de años de educación completados.

6. Estado civil: La sexta columna es una variable categórica que describe el estado civil de los individuos, con categorías como "Never-married" (nunca casado), "Married-civ-spouse" (casado con cónyuge civil), "Divorced" (divorciado), etc.

7. Ocupación: La séptima columna indica la ocupación o el tipo de trabajo que realiza el individuo. Es una variable categórica con categorías como "Adm-clerical" (administrativo/clerical), "Exec-managerial" (ejecutivo/gerencial), "Handlers-cleaners" (manejadores/limpiadores), entre otras.

8. Relación: La octava columna describe la relación del individuo con su familia o hogar, como "Not-in-family" (no en familia), "Husband" (esposo), "Wife" (esposa), etc.

9. Raza: La novena columna es una variable categórica que indica la raza del individuo, con categorías como "White" (blanco), "Black" (negro), etc.

10. Sexo: La décima columna indica el sexo del individuo, ya sea "Male" (masculino) o "Female" (femenino).

11. Ganancia de capital: La undécima columna numérica representa las ganancias de capital reportadas por el individuo.

12. Pérdida de capital: La duodécima columna numérica muestra las pérdidas de capital reportadas por el individuo.

13. Horas de trabajo por semana: La decimotercera columna numérica indica la cantidad de horas que el individuo trabaja por semana.

14. País de origen: La decimocuarta columna es una variable categórica que muestra el país de origen o residencia del individuo, con categorías como "United-States" (Estados Unidos), "Cuba", entre otros.

15. Ingresos: La decimoquinta y última columna categoriza a los individuos en dos grupos según sus ingresos: aquellos que ganan "<=50K" al año y aquellos que podrían ganar más.

La columna de ingresos es a demas la etiqueta (Variable objetivo)

## 1.1. Medidas de tendencia central de cada variable

In [21]:
dataset.describe()

,age,fnlwgt:,education-num,capital-again,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

### Analisis:

__Edad:__ La desviación estandar tiende a hacer un poco alta teniendo en cuenta la variable que estamos observando, ademas podemos notar que la edad minima y maxima estan un poco alejadas de la media. Esto tiene sus pros y sus contras, ya que al tener una gran variedad puede ser bueno para que el algoritmo no aprenda sesgos. Sin embargo, esto tambien puede ocurrir porque existe ruido. Lo mas recomendable en estas situaciones seria realizar una normalización de los datos para controlar el ruido.

# 2. Identificar errores, datos faltantes, datos duplicados y hacer la correccion y el tratamiento de los datos

In [22]:
# Verificamos si hay valores faltantes en algun campo
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclashh      32561 non-null  object
 2   fnlwgt:         32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-again   32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [23]:
# Verificamos si hay algun valor nulo en las columnas
dataset.isnull().any()

age               False
workclashh        False
fnlwgt:           False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-again     False
capital-loss      False
hours-per-week    False
native-country    False
income            False
dtype: bool

In [24]:
# Verificamos si hay alguna columna duplicada
dataset.duplicated().any()

True

In [25]:
# Por si acaso vemos una descripcion de los datos para verificar que no haya columnas duplicadas
dataset.describe()

,age,fnlwgt:,education-num,capital-again,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [26]:
# Dada una revision de los datos note que existen valores faltantes en algunas columas (Las que retornan True)
dataset.isin([' ?']).sum()

age                  0
workclashh        1836
fnlwgt:              0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-again        0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [28]:
filas_seleccionadas = dataset[dataset['occupation'] == ' ?']
filas_seleccionadas

,age,workclashh,fnlwgt:,education,education-num,marital-status,occupation,relationship,race,sex,capital-again,capital-loss,hours-per-week,native-country,income
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
69,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
106,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

* Al no haber valores faltantes ni valores nulos en el dataset no se requiere hacer una imputacion de datos